body {    
font-family: 'Roboto', sans-serif;
color: #212121;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:active {
    color: #2196F3;
}
a:visited {    
color: #212121;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}